In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__ # Q1

'1.20.3'

In [3]:
pd.__version__ # Q2

'1.3.2'

In [5]:
import os
import sys
os.getcwd()

'/Users/deepa/dev/ml_zoomcamp/lesson1'

In [7]:
columns = [
    'Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Driven_Wheels', 'Number of Doors' , 'Market Category' ,'Vehicle Size' ,'Vehicle Style', 'highway MPG','city mpg','Popularity','MSRP'
]
df = pd.read_csv("/Users/deepa/dev/ml_zoomcamp/lesson1/cars.csv",names=columns)

In [13]:
df.shape # Q3

(11915, 16)

In [15]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
1,BMW,1 Series M,2011,premium unleaded (required),335,6,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
2,BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
3,BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
4,BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450

In [16]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [22]:
df.dtypes

Make                 object
Model                object
Year                 object
Engine Fuel Type     object
Engine HP            object
Engine Cylinders     object
Transmission Type    object
Driven_Wheels        object
Number of Doors      object
Market Category      object
Vehicle Size         object
Vehicle Style        object
highway MPG          object
city mpg             object
Popularity           object
MSRP                 object
dtype: object

In [32]:
df['MSRP'].dtypes

dtype('O')

In [33]:
df['MSRP'] = df['MSRP'].astype(str)

In [34]:
df['MSRP'].dtypes

dtype('O')

In [38]:
df.iloc[5816]

Make                                Chevrolet
Model                          Impala Limited
Year                                     2014
Engine Fuel Type     flex-fuel (unleaded/E85)
Engine HP                                 300
Engine Cylinders                            6
Transmission Type                   AUTOMATIC
Driven_Wheels               front wheel drive
Number of Doors                             4
Market Category                     Flex Fuel
Vehicle Size                            Large
Vehicle Style                           Sedan
highway MPG                                30
city mpg                                   18
Popularity                               1385
MSRP                                    25830
Name: 5816, dtype: object

In [42]:
df = pd.read_csv("/Users/deepa/dev/ml_zoomcamp/lesson1/cars.csv",names=columns)

In [47]:
df['MSRP'] = df['MSRP'].astype(float)

ValueError: could not convert string to float: 'MSRP'

In [49]:
df['MSRP'] = pd.to_numeric(df['MSRP'].str.replace(",", ""), errors='coerce')

In [50]:
df['MSRP'] = df['MSRP'].astype(float)

In [57]:
cars_2015_df = df[df['Year'] >= '2015']

In [60]:
cars_2015_df['Engine HP'].isnull().sum() # sum of cars with Engine HP null and Year >= 2015

51

In [62]:
df['Engine HP'].isnull().sum()

69

In [65]:
df['Engine HP'].mean()

TypeError: can only concatenate str (not "int") to str

In [66]:
df['Engine HP'] = df['Engine HP'].fillna(0)

In [69]:
df['Engine HP'] = pd.to_numeric(df['Engine HP'].str.replace(",", ""), errors='coerce')
df['Engine HP'] = df['Engine HP'].astype(float)

In [76]:
mean_hp_before = df['Engine HP'].mean()

In [77]:
df['Engine HP'] = df['Engine HP'].fillna(mean_hp_before)

In [73]:
mean_hp_after = df['Engine HP'].mean()

In [74]:
mean_hp_after

249.38607007176

In [78]:
df['Engine HP'] = df['Engine HP'].fillna(0)

In [79]:
df['Engine HP'].mean()

249.38607007176

In [80]:
df = pd.read_csv("/Users/deepa/dev/ml_zoomcamp/lesson1/cars.csv",names=columns)

In [81]:
df['Engine HP'].mean()

TypeError: can only concatenate str (not "int") to str

In [83]:
df['Engine HP'] = df['Engine HP'].fillna(np.nan)

In [85]:
df['Engine HP'] = pd.to_numeric(df['Engine HP'].str.replace(",", ""), errors='coerce')
mean_hp_before = df['Engine HP'].mean()

In [86]:
mean_hp_before

249.38607007176023

In [87]:
df['Engine HP'] = df['Engine HP'].fillna(mean_hp_before)
mean_hp_after = df['Engine HP'].mean()

In [88]:
print(round(mean_hp_before)) # no change
print(round(mean_hp_after))

249
249

In [89]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,Make,Model,Year,Engine Fuel Type,249.38607,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
1,BMW,1 Series M,2011,premium unleaded (required),335.00000,6,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
2,BMW,1 Series,2011,premium unleaded (required),300.00000,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
3,BMW,1 Series,2011,premium unleaded (required),300.00000,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
4,BMW,1 Series,2011,premium unleaded (required),230.00000,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450

In [91]:
df_rolls_royce = df[df['Make'] == 'Rolls-Royce']

In [92]:
df_rolls_royce

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
2922,Rolls-Royce,Corniche,2001,premium unleaded (required),325.0,8,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury",Large,Convertible,15,10,86,359990
3506,Rolls-Royce,Dawn,2016,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,High-Performance",Large,Convertible,19,12,86,335000
5276,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,286750
5277,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,319400
5278,Rolls-Royce,Ghost Series II,2016,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,295850
5279,Rolls-Royce,Ghost Series II,2016,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,329325
5280,Rolls-Royce,Ghost,2012,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,20,13,86,250000
5281,Rolls-Royce,Ghost,2012,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,20,13,86,290000
5282,Rolls-Royce,Ghost,2013,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,296000
5283,Rolls-Royce,Ghost,2013,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,256650
5284,Rolls-Royce,Ghost,2014,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,263200
5285,Rolls-Royce,Ghost,2014,premium unleaded (required),563.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,303300
7444,Rolls-Royce,Park Ward,2001,premium unleaded (required),322.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury",Large,Sedan,15,11,86,259900
7445,Rolls-Royce,Park Ward,2002,premium unleaded (required),322.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury",Large,Sedan,15,11,86,262990
7554,Rolls-Royce,Phantom Coupe,2014,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,Performance",Large,Coupe,19,11,86,433550
7555,Rolls-Royce,Phantom Coupe,2015,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,Performance",Large,Coupe,19,11,86,438325
7556,Rolls-Royce,Phantom Coupe,2016,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,Performance",Large,Coupe,19,11,86,449525
7557,Rolls-Royce,Phantom Drophead Coupe,2014,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,Performance",Large,Convertible,19,11,86,474600
7558,Rolls-Royce,Phantom Drophead Coupe,2015,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,Performance",Large,Convertible,19,11,86,479775
7559,Rolls-Royce,Phantom Drophead Coupe,2016,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,Performance",Large,Convertible,19,11,86,492000
7560,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,402940
7561,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,474990
7562,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,407400
7563,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,480175
7564,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,417825
7565,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,492425
9432,Rolls-Royce,Silver Seraph,2001,premium unleaded (required),322.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury",Large,Sedan,15,11,86,219900
9433,Rolls-Royce,Silver Seraph,2002,premium unleaded (required),322.0,12,AUTOMATIC,rear wheel drive,4,"Exotic,Luxury",Large,Sedan,15,11,86,229990
11449,Rolls-Royce,Wraith,2014,premium unleaded (required),624.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,High-Performance",Large,Coupe,21,13,86,284900
11450,Rolls-Royce,Wraith,2015,premium unleaded (required),624.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,High-Performance",Large,Coupe,21,13,86,294025
11451,Rolls-Royce,Wraith,2016,premium unleaded (required),624.0,12,AUTOMATIC,rear wheel drive,2,"Exotic,Luxury,High-Performance",Large,Coupe,21,13,86,304350

In [94]:
df_rolls_royce_1 = df_rolls_royce[['Engine HP','Engine Cylinders','highway MPG']]

In [95]:
df_rolls_royce_1.head()

      Engine HP Engine Cylinders highway MPG
2922      325.0                8          15
3506      563.0               12          19
5276      563.0               12          21
5277      563.0               12          21
5278      563.0               12          21

In [96]:
df_rolls_royce_1 = df_rolls_royce_1.drop_duplicates()

In [98]:
df_rolls_royce_1.shape

(7, 3)

In [99]:
X = df_rolls_royce_1.values
X

array([[325.0, '8', '15'],
       [563.0, '12', '19'],
       [563.0, '12', '21'],
       [563.0, '12', '20'],
       [322.0, '12', '15'],
       [453.0, '12', '19'],
       [624.0, '12', '21']], dtype=object)

In [100]:
XTX = X.T.dot(X)

TypeError: can't multiply sequence by non-int of type 'str'

In [101]:
X_T = X.T

In [102]:
X_T

array([[325.0, 563.0, 563.0, 563.0, 322.0, 453.0, 624.0],
       ['8', '12', '12', '12', '12', '12', '12'],
       ['15', '19', '21', '20', '15', '19', '21']], dtype=object)

In [103]:
XTX = X_T.dot(X)

TypeError: can't multiply sequence by non-int of type 'str'

In [104]:
df_rolls_royce_1['Engine Cylinders'] = pd.to_numeric(df_rolls_royce_1['Engine Cylinders'].str.replace(",", ""), errors='coerce')

In [105]:
df_rolls_royce_1['highway MPG'] = pd.to_numeric(df_rolls_royce_1['highway MPG'].str.replace(",", ""), errors='coerce')

In [106]:
X = df_rolls_royce_1.values
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [107]:
X_T = X.T
X_T

array([[325., 563., 563., 563., 322., 453., 624.],
       [  8.,  12.,  12.,  12.,  12.,  12.,  12.],
       [ 15.,  19.,  21.,  20.,  15.,  19.,  21.]])

In [108]:
XTX = X_T.dot(X)

In [109]:
XTX_inv = np.linalg.inv(XTX)

In [110]:
XTX_inv

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [111]:
XTX_inv.sum() # Q6

0.03221232067748617

In [112]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [113]:
XTX_XT_TMP = XTX_inv.dot(X_T)

In [114]:
w = XTX_XT_TMP.dot(y) # Q7
w

array([ 0.19989598, 31.02612262, 31.65378877])

In [118]:
df = pd.read_csv("/Users/deepa/dev/ml_zoomcamp/lesson1/cars.csv",names=columns)
bmw_df = df[df['Make'] == 'BMW']
bmw_df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
1,BMW,1 Series M,2011,premium unleaded (required),335,6,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
2,BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
3,BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
4,BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
5,BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11902,BMW,Z4,2016,premium unleaded (required),240,4,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,34,22,3916,49700
11903,BMW,Z4,2016,premium unleaded (required),335,6,AUTOMATED_MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Convertible,24,17,3916,66350
11904,BMW,Z8,2001,premium unleaded (required),394,8,MANUAL,rear wheel drive,2,"Exotic,Luxury,High-Performance",Compact,Convertible,19,12,3916,128000
11905,BMW,Z8,2002,premium unleaded (required),394,8,MANUAL,rear wheel drive,2,"Exotic,Luxury,High-Performance",Compact,Convertible,19,12,3916,130000
11906,BMW,Z8,2003,premium unleaded (required),394,8,MANUAL,rear wheel drive,2,"Exotic,Luxury,High-Performance",Compact,Convertible,19,12,3916,131500

In [120]:
bmw_df.MSRP.values

array(['46135', '40650', '36350', '29450', '34500', '31200', '44100',
       '39300', '36900', '37200', '39600', '31500', '44400', '37200',
       '31500', '48250', '43550', '32850', '38650', '48750', '34850',
       '40650', '44150', '32850', '46150', '50750', '46450', '49050',
       '51050', '44450', '38950', '33150', '35150', '40950', '47250',
       '41850', '41850', '43000', '49200', '49650', '43950', '41950',
       '50150', '37500', '43750', '39000', '39500', '39500', '34950',
       '45750', '43450', '37500', '41000', '32950', '41850', '47800',
       '39850', '38350', '40350', '38350', '42650', '33150', '35150',
       '44150', '45800', '38750', '35450', '33450', '40750', '42250',
       '42950', '40250', '49900', '47900', '44450', '42300', '40300',
       '40300', '42300', '45800', '47800', '43650', '49950', '47950',
       '41650', '48300', '50300', '43950', '41950', '56900', '46250',
       '50750', '42750', '48750', '48250', '42750', '50750', '40750',
       '54900', '48750', '40750', '52000', '50000', '41850', '50150',
       '41850', '58950', '43850', '48150', '56950', '50300', '52300',
       '50500', '44150', '42150', '59300', '57300', '48500', '60700',
       '71400', '63000', '69100', '63200', '72500', '60900', '63200',
       '60900', '72500', '67200', '57900', '57100', '52250', '59400',
       '64900', '49950', '55600', '57350', '58150', '55850', '52500',
       '50200', '68600', '66300', '59650', '92600', '81300', '78300',
       '89600', '93900', '82500', '90900', '79500', '91200', '82800',
       '94200', '79800', '94900', '86600', '79100', '76100', '90400',
       '83600', '87400', '97900', '87800', '77300', '99200', '96200',
       '80300', '84800', '91700', '88700', '92000', '77600', '89000',
       '80600', '85100', '88100', '96500', '99500', '141200', '78000',
       '91000', '94000', '81000', '74000', '87300', '90300', '82500',
       '94400', '81300', '97400', '94600', '97600', '84500', '81500',
       '4784', '5858', '8488', '6954', '5680', '7624', '6693', '61400',
       '61900', '62100', '84300', '84300', '84300', '88900', '88900',
       '117300', '122200', '122500', '135200', '132200', '131300',
       '128300', '132200', '131300', '135200', '128300', '137000',
       '136900', '42400', '42400', '42400', '43600', '51700', '51700',
       '62000', '63500', '64000', '133205', '64200', '72500', '74200',
       '65700', '74700', '66200', '92900', '93600', '94100', '115700',
       '117200', '117500', '118200', '111900', '119700', '113400',
       '113700', '120000', '44990', '45990', '44990', '49300', '51300',
       '31200', '33000', '39100', '34800', '33100', '35100', '45500',
       '40500', '42000', '38500', '38950', '46800', '40950', '42450',
       '42750', '47950', '41250', '39250', '44700', '48000', '57800',
       '45250', '49700', '58100', '45550', '98700', '98800', '98800',
       '57700', '53900', '56200', '70100', '57000', '71500', '57700',
       '54700', '57800', '55500', '59300', '72300', '102100', '102200',
       '102200', '61900', '72900', '59600', '62900', '60600', '75300',
       '61400', '76100', '63700', '4976', '4697', '4755', '37900',
       '31300', '37700', '37900', '31300', '37700', '50100', '52100',
       '50400', '52400', '48950', '56950', '65800', '48950', '56950',
       '65800', '57500', '49700', '66350', '128000', '130000', '131500'],
      dtype=object)

In [121]:
bmw_df['MSRP'] = pd.to_numeric(bmw_df['MSRP'].str.replace(",", ""), errors='coerce')
bmw_df.MSRP.mean()

/var/folders/hb/6ftrzv4d27l4qgry0h5tcc040000gn/T/ipykernel_54660/2351836503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmw_df['MSRP'] = pd.to_numeric(bmw_df['MSRP'].str.replace(",", ""), errors='coerce')

61546.76347305389